@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="title">
    <h1>Menu</h1>
</div>

<div id="container">
    <div id="menu">

        @if(Model.Combos != null)
        {
            <h2>Combos</h2>
            <div>
                @foreach(DinoDiner.Menu.CretaceousCombo combo in Model.Combos)
                {
                    <div class="menu-item">
                        <h3>
                            @combo.Description
                        </h3>
                        <div>
                            <b>
                                $@combo.Price
                            </b>
                        </div>
                        <div>
                            <i>
                                @combo.Calories Calories
                            </i>
                        </div>
                        @foreach(string i in combo.Ingredients)
                        {
                            <div>*@i</div>
                        }
                    </div>
                }
            </div>
        }

        @if(Model.Entrees != null)
        {
            <h2>Entrees</h2>
            <div>
                @foreach(DinoDiner.Menu.Entrees.Entree entree in Model.Entrees)
                {
                    <div class="menu-item">
                        <h3>
                            @entree.Description
                        </h3>
                        <div>
                            <b>
                                $@entree.Price
                            </b>
                        </div>
                        <div>
                            <i>
                                @entree.Calories Calories
                            </i>
                        </div>
                        @foreach(string i in entree.Ingredients)
                        {
                            <div>*@i</div>
                        }
                    </div>
                }
            </div>
        }

        @if(Model.Sides != null)
        {
            <h2>Sides</h2>
            <div>
                @foreach(DinoDiner.Menu.Sides.Side side in Model.Sides)
                {
                    <div class="menu-item">
                        <h3>
                            @side.Description
                        </h3>
                        <div>
                            <b>
                                $@side.Price
                            </b>
                        </div>
                        <div>
                            <i>
                                @side.Calories Calories
                            </i>
                        </div>
                        @foreach(string i in side.Ingredients)
                        {
                            <div>*@i</div>
                        }
                    </div>
                }
            </div>
        }

        @if (Model.Drinks != null)
        {
            <h2>Drinks</h2>
            <div>
                @foreach (DinoDiner.Menu.Drinks.Drink drink in Model.Drinks)
                {
                    <div class="menu-item">
                        <h3>
                            @drink.Description
                        </h3>
                        <div>
                            <b>
                                $@drink.Price
                            </b>
                        </div>
                        <div>
                            <i>
                                @drink.Calories Calories
                            </i>
                        </div>
                        @foreach (string i in drink.Ingredients)
                        {
                            <div>*@i</div>
                        }
                    </div>
                }
            </div>
        }
    </div>

    <form method="post">
        <input type="text" name="search" id="search" value="@Model.search" />
        <input type="submit" value="Search" />

        <h4>Menu Category</h4>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="category" value="Combo" checked="@Model.category.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" name="category" value="Entree" checked="@Model.category.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" name="category" value="Side" checked="@Model.category.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" name="category" value="Drink" checked="@Model.category.Contains("Drink")" />
                Drink
            </label>
        </div>

        <h4>Price</h4>
        <label>
            Minimum Price:
            <input type="number" min="0" max="20" step="1" name="minPrice" value="@Model.minPrice" />
        </label>

        <label>
            Maxiumum Price:
            <input type="number" min="0" max="20" step="1" name="maxPrice" value="@Model.maxPrice" />
        </label>

        <h4>Excluding Ingredients</h4>
        <div class="checkbox-list">
            @foreach(string ingredient in Model.Ingredients)
            {
                <label>
                    <input type="checkbox" name="ingredients" value="@ingredient" checked="@Model.ingredients.Contains(ingredient)" />
                    @ingredient
                </label>
            }
        </div>

    </form>
</div>

